.biffy,
.centralex,
.digipharm-logo,
.digitalx,
.ggf,
.goldengoose,
.kittiefight,
.logos,
.mycro,
.oxycoin-logo,
.pexo,
.sparkle,
.travelhelper,
.upswing,
.webp-moonx,
.yfiw,
.yfuni {
  max-width: 100%;
  background-size: 100%;
  background-image: url(../../../d3kl7b7vq0nqu1.cloudfront.net/new/images/audit-1.png);
}
.digitalx {
  background-position: 0 0;
  background-size: 100%;
}
.travelhelper {
  background-position: 0 7.456372%;
  background-size: 108.469055%;
}
.biffy {
  background-position: 0 13.113006%;
  background-size: 123.333333%;
}
.centralex {
  background-position: 0 19.509595%;
  background-size: 123.333333%;
}
.goldengoose {
  background-position: 0 25.906183%;
  background-size: 123.333333%;
}
.kittiefight {
  background-position: 0 32.302772%;
  background-size: 123.333333%;
}
.oxycoin-logo {
  background-position: 0 38.69936%;
  background-size: 123.333333%;
}
.webp-moonx {
  background-position: 0 45.095949%;
  background-size: 123.333333%;
}
.yfiw {
  background-position: 0 51.492537%;
  background-size: 123.333333%;
}
.yfuni {
  background-position: 0 57.889126%;
  background-size: 123.333333%;
}
.digipharm-logo {
  background-position: 0 64.285714%;
  background-size: 123.333333%;
}
.ggf {
  background-position: 0 70.682303%;
  background-size: 123.333333%;
}
.logos {
  background-position: 0 77.078891%;
  background-size: 123.333333%;
}
.pexo {
  background-position: 0 82.813326%;
  background-size: 123.333333%;
}
.upswing {
  background-position: 0 89.072495%;
  background-size: 123.333333%;
}
.mycro {
  background-position: 0 95.469083%;
  background-size: 134.274194%;
}
.sparkle {
  background-position: 0 100%;
  background-size: 165.671642%;
}
