#unchained .navbar-nav .nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.nav-trans {
  background-color: transparent;
  box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.06);
}
@media only screen and (max-width: 991px) {
  .section-hero .container {
    padding-top: 6rem;
  }
  .navbar {
    background-color: #000 !important;
  }
  .navbar-nav {
    text-align: left !important;
  }
}
.btn-header {
  width: 100%;
  border-radius: 22px;
}
.btn-neon {
  border-radius: 22px;
  width: auto;
  padding: 11px 17px 12px 12px !important;
  box-shadow: 0 0 6px 3px #0080e2, 0 0 120px 2px #004097,
    inset 0 0 6px 3px #0080e2, inset 0 0 100px 2px #004097;
  border-color: #c4ddf3;
}
.btn-neon:active,
.btn-neon:hover {
  color: #c4ddf3 !important;
  background-color: transparent !important;
}
@media only screen and (max-width: 425px) and (min-width: 327px) {
  .btn-neon {
    padding: 10px 25px;
  }
}
.content-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid #d9e1e8;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
.hero-heading {
  color: #fff;
  font-size: 2.5rem;
  font-family: Audiowide, cursive;
  letter-spacing: 0.2px;
  line-height: 4rem;
  margin-bottom: 20px;
}
.hero-para {
  color: #fff;
  font-size: 1.5rem;
  font-family: Audiowide, cursive;
  letter-spacing: 0.2px;
  line-height: 2rem;
  margin-bottom: 40px;
}
.hero-text {
  color: #fff;
  font-family: Audiowide, cursive;
  letter-spacing: 0.2px;
  margin-right: 1%;
  margin-left: 1%;
}
.social-sec {
  text-align: center;
  margin-bottom: 10px;
}
.social-sec i {
  font-size: 2rem;
  padding: 1rem;
  color: #5cbeff;
}
.register-band {
  background-color: #004182;
  width: 100%;
  position: relative;
  background-size: cover;
  padding: 25px 0 25px 0;
}
.btn-register {
  background-color: #fff;
  color: #004182;
  font-weight: 600;
  border-radius: 6px;
  font-size: 24px;
  width: max-content;
  padding: 6px 12px;
}
.band-text {
  color: #fff;
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 0;
  font-family: inherit;
  text-align: center;
}
.text-github {
  font-weight: 500;
  font-size: 30px;
  font-family: inherit;
  letter-spacing: 0.1px;
}
#social_side_links {
  position: fixed;
  top: 350px;
  left: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
}
#social_side_links li a {
  display: block;
  padding: 10px 25px;
  font-size: 22px;
  text-align: center;
  color: #5cfff4;
}
.speaker-box {
  background: #fff 0 0 no-repeat padding-box;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 10px;
  width: 86%;
  height: 8rem;
  margin: 0 auto;
  border: 1px solid #d9e1e8;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
.speaker-box:hover {
  background: transparent linear-gradient(120deg, #6c63ff 0, #c77cf1 100%) 0 0
    no-repeat padding-box;
  box-shadow: 0 3px 39px #00000029;
}
a.speaker-link {
  text-decoration: none;
  color: #212529;
}
.speaker-box .fa-user-circle {
  font-size: 7rem;
  color: #004182;
}
.speaker-box:hover .fa-user-circle,
.speaker-box:hover .speaker-text {
  color: #fff;
}
.speaker-text {
  margin: 0 auto;
}
.partners-box {
  border: 1px solid #d9e1e8;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  padding: 20px;
}
.partners-box .fa-question {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #004182;
}
.partners-box:hover {
  -webkit-transform: scale(1.05) rotate(2deg);
  transform: scale(1.05) rotate(2deg);
}
.neg-marg {
  margin-top: -3%;
}
@media only screen and (max-width: 767px) {
  .neg-marg {
    margin-top: 1%;
  }
  .parnters-box {
    width: 86%;
    margin: 0 auto;
  }
}
.conf-box {
  box-shadow: 0 10px 30px #99999933;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
}
.conf-box .fa-newspaper-o {
  color: #004182;
  font-size: 6rem;
  margin-bottom: 20px;
}
.conf-head {
  margin-bottom: 20px;
}
.rounded-corners {
  border-radius: 0 50% 50% 50%;
}
@media only screen and (max-width: 369px) {
  .speaker-box {
    width: 100%;
  }
}
img.sch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#partners a {
  text-decoration: none;
  color: inherit;
}
